
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin-top: 80px;
}



.timer {
  font-size: 8em; 
  margin: 0; 
}
.button-container {
  display: flex; /* Butonları yan yana hizalar */
  gap: 10px; /* Butonlar arasındaki boşluğu ayarlar */
  margin-top: 20px; /* Butonların üst kısmında boşluk bırakır */
}



.button {
  margin-top: 20px; 
  font-size: 2em;
  padding: 10px 25px; 
  background-color: #e0e0e0; 
  color: #333; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.button:hover {
  background-color: #d0d0d0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button:active {
  background-color: #c0c0c0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}